@use "../../styles/colors";
@use "../../styles/mixins";

.cartItems {
  background: colors.$lightBg;
  display: flex;
  flex-direction: column;
  height: 100%;

  .cartHeader {
    display: flex;
    padding: 1.6rem;
    justify-content: space-between;
    color: colors.$white;
    background: colors.$black;
    .name {
      font-size: 1.8rem;
      padding: 0;
      margin: 0;
      span {
        font-weight: 400;
        font-size: 1.4rem;
      }
    }
    .close {
      @include mixins.buttonNormal;
      display: flex;
      color: colors.$white;
      font-size: 2.8rem;
      line-height: 0.5;
    }
  }

  .cartItemsList {
    padding-top: 1.6rem;
    overflow: auto;
  }
  .offer {
    background: colors.$white;
    display: flex;
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    border-radius: 4px;
    img {
      max-width: 100px;
      height: auto;
    }
    .text {
      margin: 0;
      padding-left: 1.6rem;
    }
  }
  .buttonContainer {
    margin-top: auto;
    background: colors.$white;
    padding: 1rem;
    text-align: center;
    .promo {
      padding-bottom: 1rem;
      margin: 0;
    }
    .buttonContent {
      display: flex;
      align-items: center;
      padding: 0.6rem 0;
      .checkoutPrice {
        margin-left: auto;
      }
      .icon {
        margin-left: 1.6rem;
      }
    }
  }
  .cartEmptyBlock {
    flex: 1;
    padding: 1rem;
    background: colors.$white;
    text-align: center;
    display: flex;
    flex-direction: column;
    .cartEmpty {
      margin: auto;
      .cartEmptyTitle {
        margin: 0;
        font-size: 2rem;
      }
      .cartEmptyDesc {
        margin: 0;
      }
    }
  }
  &.inPage {
    .cartHeader {
      background: colors.$white;
      color: colors.$black;
      margin-top: 2rem;
      .close {
        display: none;
      }
    }
    .cartEmptyBlock {
      margin-top: 1rem;
    }
  }
}
