@use "../../styles/colors";
@use "../../styles/mixins";

.button {
  font-family: "Dosis", sans-serif;
  width: 100%;
  border: none;
  padding: 1.2rem;
  font-size: 1.6rem;
  border-radius: 4px;
  cursor: pointer;
  color: colors.$white;
  background: colors.$darkRed;
  &:disabled {
    background: colors.$mGray;
  }
  .loader {
    width: 20px;
    height: 20px;
    text-align: center;
    justify-content: center;
    margin: auto;
    border-width: 2px;
    border-top-width: 2px;
  }
  @include mixins.lg {
    &:hover {
      background: colors.$mGray;
      color: colors.$black;
    }
  }
}
