@use "./colors";

@mixin nav {
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
      margin-left: 1.6rem;
      color: colors.$black;
    }
  }
}

@mixin buttonNormal {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
