@use "./colors";
@use "./breakpoints";

@mixin nav {
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
      color: colors.$black;
    }
  }
}

@mixin buttonNormal {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

// Small devices
@mixin sm {
  @media (min-width: #{breakpoints.$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{breakpoints.$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{breakpoints.$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{breakpoints.$screen-xl-min}) {
    @content;
  }
}

// Extra Extra large devices
@mixin xxl {
  @media (min-width: #{breakpoints.$screen-xxl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: ($screen + "px")) {
    @content;
  }
}

@mixin pageHeight {
  min-height: calc(100vh - 113px);
  @include md {
    min-height: calc(100vh - 160px);
  }
}
