@use "../../styles/mixins";

.category {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -50px;
    right: 0;
    left: 0;
    margin: auto;
    margin-bottom: 5rem;
    width: 60%;
    height: 50px;
    box-shadow: 0 20px 20px -20px rgb(0 0 0 / 25%);
  }
  &:last-child::before {
    display: none;
  }
}

main.homePage {
  padding: 0;
  @include mixins.lg {
    padding: 0 1.6rem;
  }
}
