@use "../../styles/mixins";

.nav {
  @include mixins.nav;
  ul.authHeader {
    justify-content: flex-end;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    li a {
      margin-left: 1.6rem;
    }
  }
  .signOutButton {
    @include mixins.buttonNormal;
    font-size: 1.2rem;
  }
}
