@use "../../styles/colors";
@use "../../styles/mixins";

.mainNavContents {
  display: flex;
  justify-content: space-between;
  flex: 1;
  .nav {
    @include mixins.nav;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    align-self: center;
    li a {
      margin-right: 1rem;
    }
  }
  @include mixins.sm {
    .nav {
      padding-left: 10%;
      font-size: 1.6rem;
      li a {
        margin-right: 3rem;
      }
    }
  }
}
