@use "../../styles/mixins";
@use "../../styles/colors";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.swiperSlider {
  padding-bottom: 30px;
  &::before {
    content: "";
    position: absolute;
    border: none;
    width: 60%;
    height: 50px;
    box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.25);
    margin: 0px auto 0rem;
    left: 0;
    bottom: 25px;
    right: 0;
  }
  .swiperImage {
    width: 100%;
    height: auto;
  }
  .swiper-pagination {
    bottom: 0;
    --swiper-pagination-bullet-size: 5px;
  }

  %navigation-buttons {
    color: colors.$white;
    background: rgba(black, 0.5);
    padding: 0 10px;
    width: auto;
    height: 30px;
    cursor: pointer;
    display: none;
    border: none;
    &::after {
      content: "";
    }
    @include mixins.lg {
      display: flex;
    }
  }
  .swiper-button-prev {
    @extend %navigation-buttons;
    left: 0;
  }

  .swiper-button-next {
    @extend %navigation-buttons;
    right: 0;
  }
  @include mixins.md {
    .swiper-pagination {
      bottom: 40px;
    }
  }
}
